apiHash=YOUR_API_HASH             # Get from https://my.telegram.org
apiId=YOUR_API_ID                 # Get from https://my.telegram.org
botToken=TOKEN1|TOKEN2|TOKEN3     # Bot Tokens (separated by |) from @BotFather for stream balancing
TgbotToken=TOKEN   # TG Bot Token
session=YOUR_BOT_STRING_SESSION   # Bot String Session for the interaction client run getSession.js to get your session
backupChannel=BACKUP_CHANNEL_ID   # Channel ID where media files are forwarded for link generation
