apiHash=                         // GET IT FROM https://my.telegram.org  //
apiId=                          // GET IT FROM https://my.telegram.org  //
botToken=                      //TOKEN-1|TOKEN-2|TOKEN-N               // GET IT FROM @BotFather  //
